:root {
    --color-background: rgb(255, 255, 255);
    --color-background-dark: rgb(22, 28, 42);
    --color-text: rgb(22, 28, 42);
    --color-text-light: white;

    --color-primary: rgb(71, 172, 255);
    --color-primary-op: white;
    /*primary contrast*/
    --color-secondary: rgb(57, 177, 89);
    --color-secondary-op: white;
    --color-tertiary: rgb(255, 148, 26);
    --color-tertiary-op: white;

    --btn-height: 40px;
    --btn-max-width: 250px;

    --font-size: 20px;
    --font-family: verdana, georgia, 'Courier New' ;
    --line-height: 1.5;
}

body {
    margin: 0;
    font: var(--font-size) var(--font-family);
    background-color: var(--color-background-dark);
    color: var(--color-text-light);
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

input[type="text"] {
    outline: none;
    border: none;
    background: none;
    border-bottom: 1px solid darkgrey;
    margin: 0;
    display: inline-block;
}

input[type="submit"] {
    border: none;
}


main{
    padding-top: calc(50vh - 50px);
    width: 90%;
    max-width: 800px;
    margin: auto;
}
section{
    position: relative;
}

.fixed_down{
    position: sticky;
    top: 45vh;

}

.zoom_animation{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}
.atom_background{
    position: absolute;
    width:100%;
    margin-left: -50px;
    margin-top: -80px;
}
.formula_1{
    width: 600px;
    top:250px;
    left:200px;
}
.formula_2{
    width: 350px;
    top:250px;
    right:200px;
}
.formula_3{
    width: 600px;
    bottom:300px;
    right:-50px;
}
.formula_4{
    width: 450px;
    bottom:100px;
    left:200px;
}
.formula_5{
    width: 200px;
    bottom:400px;
    left:200px;
}

.anim_bloc{
    opacity:0.1;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--color-secondary);
}
.right{
    height:50%;
    top:0;
    left:0;
}
.left{
    height:50%;
    bottom:0;
    right:0;
    background:blue;
}



/**********  CLASSES  **********/



.content_full {
    height: 100vh;
    position: relative;
}

.desk {
    display: block;
}

.mobile {
    display: none;
}

.container_scrollx {
    display: flex;
    column-gap: 50px;
    overflow-x: scroll;
    white-space: nowrap;
    width: 100%;
}
.container_flex{
    margin:auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;

}

/**********  MEDIA QUERIES  **********/
@media screen and (max-width: 800px) {
    :root {
        --font-size: 16px;
    }
    .desk{
        display: none;
    }
    .mobile{
        display: block;
    }
}